# Code to create a database

In [5]:
import sqlite3
conn = sqlite3.connect('data1.db')
c = conn.cursor()

# creating tables

c.execute("CREATE TABLE user (ID_User integer, user VARCHAR(50) primary key, department VARCHAR(100))")
c.execute("CREATE TABLE admin (id_admin integer primary key autoincrement, fullname varchar(50) references user (user), username VARCHAR(30), password VARCHAR(30))")
c.execute("CREATE TABLE admin_details (id_admin integer primary key references admin (id_admin), [email] VARCHAR(100), phone VARCHAR(100), zip_code VARCHAR(50))")
c.execute("CREATE TABLE zip_code (zip_code VARCHAR(50) primary key references admin_details (zip_code), street VARCHAR(100), city VARCHAR(50), country VARCHAR(50))")
c.execute("CREATE TABLE history_image (record_id integer primary key, user VARCHAR(50) references user (user), product VARCHAR(50), \
region VARCHAR(50), image_type VARCHAR(50), language VARCHAR(50), date VARCHAR(50), industry VARCHAR(50), brand VARCHAR(50), description VARCHAR(100), date_generated DATETIME DEFAULT (CURRENT_TIMESTAMP))")
c.execute("CREATE TABLE history_source (record_id integer primary key, user VARCHAR(50) references user (user), source VARCHAR(50), \
provider VARCHAR(50), division VARCHAR(50), region VARCHAR(50), industry VARCHAR(50), date VARCHAR(50), description VARCHAR(100), date_generated DATETIME DEFAULT (CURRENT_TIMESTAMP))")
c.execute("CREATE TABLE history_campaign (record_id integer primary key, user VARCHAR(50) references user (user), date VARCHAR(50), \
division VARCHAR(50), camtype VARCHAR(50), industry VARCHAR(50), region VARCHAR(50), product VARCHAR(50), description VARCHAR(100), date_generated DATETIME DEFAULT (CURRENT_TIMESTAMP))")

# creating lists

listus = [("1", "Lasha Gochiashvili","marketing"),("2", "Erim Celen","sales"),("3", "Marco Polo","AP"),("4", "David Adams","IT"),("5", "Adam Smith","marketing")]
listad = [('1','Lasha Gochiashvili', 'lasha', 'lasha123')]
listadd = [('1','l.gochiashvili@student.uw.edu.pl','67688779', '123')]
listzc = [('123', 'Spiska 16', 'Warsaw', 'Poland')]

# adding lists into tables

c.executemany('INSERT INTO user VALUES (?,?,?)', listus)
c.executemany('INSERT INTO admin VALUES (?,?,?,?)', listad)
c.executemany('INSERT INTO admin_details VALUES (?,?,?,?)', listadd)
c.executemany('INSERT INTO zip_code VALUES (?,?,?,?)', listzc)

conn.commit()
conn.close()

OperationalError: near "autoincrement": syntax error